config roamd 'global'
	option enabled '1'
	option band_steering '1'
	option prefer_band '5'
	option fast_transition '1'
	option ft_over_ds '1'
	option neighbor_reports '1'
	option bss_transition '1'
	option apply_wireless '1'
	option ssid ''
	option mobility_domain ''

config mesh 'mesh'
	option role 'controller'
	option enabled '1'
	option backhaul_enabled '1'
	option wifi_shutdown '0'
	option auto_update '0'
	option auto_update_every '1'
	option auto_update_unit 'day'

config policy 'policy'
	option rssi_low '-75'
	option rssi_good '-55'
	option rssi_diff '30'
	option kick_rssi '-82'
	option cross_band_delta '8'
	option hold_time '30000'
	option age_time '90000'
	option check_time_low '8000'
	option check_time_high '4000'
	option poll_interval '2000'
	option deny_time '15000'
	option deny_probe '1'
	option allow_kick '0'
	option kick_delay '5000'
	option steer_retries '3'
	option beacon_req_interval '20000'
	option log_level '1'
